.overLay {
  display: flex;
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0px;
  /* left: 0; */
  left: 0px;
  right: 0;
  /* background-color: rgba(0,0,0,0.7); */
  /* https://img.jakpost.net/c/2017/01/19/2017_01_19_19690_1484795260._large.jpg */
  /* https://miro.medium.com/max/700/0*qZzT95rPyCBDYFF6 */
  background: url("https://miro.medium.com/max/700/0*qZzT95rPyCBDYFF6")
    no-repeat center;
  background-size: cover;
  z-index: 5;
}

.overLay .lg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  background-color: black;
  height: 580px;
  width: 400px;
  margin: auto;
  /* margin-left: 430px; */
}

.overLay .lg-otp{
  height: 320px !important;
}

.overLay .sg-container {
  height: 610px !important;
}

.overLay .lg-container .top-lg i {
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 120px;
}

.overLay .lg-container .top-lg .lg-tp-icon {
  top: 90px !important;
}

.overLay .lg-container .top-lg .otp-tp-icon{
  top: 215px !important; 
}

.overLay .lg-container .top-lg i:hover {
  color: #2c65d6;
  cursor: pointer;
}

.overLay .lg-container h2 {
  color: white;
  margin-bottom: 16px;
}

.overLay .lg-container .h2-top {
  margin-bottom: 60px !important;
}

.overLay .lg-container .otp-top{
  margin-bottom: 15px !important;
}

.overLay .lg-container .lg {
  width: 60%;
  margin-bottom: 10px;
}
.overLay .lg-container .lg h2 {
  margin-bottom: 32px;
}

.overLay .lg-container .lg .h2-lg {
  margin-bottom: -15px !important;
}

.overLay .lg-container .lg .lg-sub {
  margin-bottom: 15px !important;
}

.overLay .lg-container .sg h2 {
  margin-bottom: 10px !important;
}

.overLay .lg-container .lg input[type="email"],
.lg input[type="password"],
.lg input[type="text"],.lg input[type="number"] {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  color: white;
  height: 40px;
  font-size: 18px;
}

.overLay .lg-container .lg .input-margin {
  margin-top: 32px;
}

.overLay .lg-container .lg input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: white;
  font-size: 18px;
  width: 100%;
  margin-top: 30px;
  cursor: pointer;
}
.overLay .lg-container .lg input[type="submit"]:hover {
  transition: 0.3ms ease-in-out;
  background-color: #2c65d6;
}

.overLay .lg-container .avatar-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: -85px;
}

.overLay .lg-container .sgavatar-img {
  margin-top: -60px !important;
}

.overLay .lg-container .google-login {
  width: 242px;
  margin-top: 10px;
}

.overLay .lg-container .btm-content {
  margin-top: 15px;
  align-items: center;
  display: flex;
}
.overLay .lg-container .btm-content p {
  color: white;
}
.overLay .lg-container .btm-content a {
  text-decoration: none;
  color: #2c65d6;
  margin-left: 10px;
  border: 0px solid white;
  border-radius: 30px;
  padding: 3px;
}

.overLay .lg-container .btm-content a:hover {
  color: #fb2525;
}
